legacy-peer-deps=true 
registry=https://registry.npmjs.org/
always-auth=true
strict-ssl=false
cert_path=/etc/ssl/certs/ca-certificates.crt
email=dh220052@dunnhumby.com
//artifactory.dunnhumby.com/artifactory/api/npm/:_auth = ZGgyMTgzMTJAZHVubmh1bWJ5LmNvbTpjbVZtZEd0dU9qQXhPakUzTnprM09EazVORGs2VWsxdVZXdFJiRWRoYzFoQlpWcHNVWE5SYUVsbWFrdDJOR05P
 